.card-bg {
  background-color: $bg;

  .card {
    background-color: $white;
    border-radius: 2rem;
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
    max-width: 32rem;

    .qrcode {
      padding: 1.6rem 1.6rem 2.4rem 1.6rem;

      img {
        border-radius: 1rem;
      }
    }

    .content {
      text-align: center;
      padding: 0 3.2rem 4rem 3.2rem;

      h1 {
        @include type-1(h1, desktop);
        color: $blue;
        margin-bottom: 1.6rem;
      }

      p {
        @include type-1(p1, desktop);
        color: $gray;
      }
    }
  }
}
